{% extends 'base.html.twig' %}

{% block content %}
    <h1> Inscription </h1>
    <div style="width :50vw">
        {{ form_start(form) }}

        {{ form_row(form.username, {'label' : "Nom d\'utilisateur", 'attr' : {'class': 'form-control','placeholder' : 'utilisateur'}}) }}
        {{ form_row(form.email, {'label' : "Email", 'attr' : {'class': 'form-control','placeholder' : 'exemple@site.ex'}}) }}
        {{ form_row(form.lastName, {'label' : "Nom", 'attr' : {'class': 'form-control','placeholder' : 'nom'}}) }}
        {{ form_row(form.firstName, {'label' : "Prénom", 'attr' : {'class': 'form-control','placeholder' : 'prénom'}}) }}
        {{ form_row(form.promo, {'label' : "Entrez l'année de votre promo", 'attr' : {'class': 'form-control','type': 'number' ,'placeholder' : 'promo'}}) }}
        {{ form_row(form.password, {'label' : "Mot de passe", 'attr' : {'class': 'form-control','placeholder' : 'mot de passe'}}) }}
        {{ form_row(form.confirm_password, {'label' : "Confirmez le mot de passe", 'attr' : {'class': 'form-control','placeholder' : 'confirmez le mot de passe'}}) }}
        <button type="submit" class="btn btn-success" style="margin: 10px"> Inscription </button>

        {{ form_end(form) }}
    </div>

{% endblock %}