{% extends 'base.html.twig' %}


{% block title %} Petites Annonces {% endblock %}

{% block content %}
    <div class="card">
        <div class="body">
            {# Nouvelle annonce #}
            <a class="btn btn-block btn-lg bg-purple waves-effect" style="margin-bottom: 3vh"
               href="{{ path('new_annonce') }}">Nouvelle annonce</a>
            {% form_theme form 'form.html.twig' %}
            {{ form_start(form) }}
            {# Filtres #}
            <div class="row clearfix">
                <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                    {{ form_row(form.name) }}
                </div>
                <div class="col-lg-4 col-md-4 col-sm-9 col-xs-8">
                    {{ form_row(form.type) }}
                </div>
                <div class="col-lg-1 col-md-1 col-sm-3 col-xs-4" style="margin-bottom: 10px">
                    {{ form_row(form.resolved) }}
                </div>
                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                    <button type="submit" class="btn btn-block bg-purple">Rechercher</button>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>



    {# Page des annonces #}
    <div class="pagination">
        {{ knp_pagination_render(AdAll) }}
    </div>
    <div class="card">
        <div class="body">
            {% for annonce in AdAll %}
                {% include  "annonces/_annonce.html.twig" %}
            {% endfor %}
        </div>
    </div>
    <div class="pagination">
        {{ knp_pagination_render(AdAll) }}
    </div>


{% endblock %}
