{% extends 'base.html.twig' %}

{% block title %}Panneau d'administration{% endblock %}

{% block content %}
    <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
        <div class="card">
            <div class="body">
                <div class="info-box-2 bg-purple hover-expand-effect">
                    <div class="icon">
                        <i class="material-icons">announcement</i>
                    </div>
                    <div class="content">
                        <div class="text">Nombre d'Annonces</div>
                        <div class="number">{{ adNumber }}</div>
                    </div>
                </div>
                <div class="info-box-2 bg-deep-purple hover-expand-effect">
                    <div class="icon">
                        <i class="material-icons">assignment_turned_in</i>
                    </div>
                    <div class="content">
                        <div class="text">Annonces résolues</div>
                        <div class="number">{{ resoAdNumber }}</div>
                    </div>
                </div>
                <div class="info-box-2 bg-indigo hover-expand-effect">
                    <div class="icon">
                        <i class="material-icons">assignment_late</i>
                    </div>
                    <div class="content">
                        <div class="text">Annonces non résolues</div>
                        <div class="number">{{ unresoAdNumber }}</div>
                    </div>
                </div>
                <div class="info-box-2 bg-blue hover-expand-effect">
                    <div class="icon">
                        <i class="material-icons">cached</i>
                    </div>
                    <div class="content">
                        <div class="text">Nombre d'objets trouvés</div>
                        <div class="number">{{ adNumber1 }}</div>
                    </div>
                </div>
                <div class="info-box-2 bg-light-blue hover-expand-effect">
                    <div class="icon">
                        <i class="material-icons">system_update_alt</i>
                    </div>
                    <div class="content">
                        <div class="text">Nombre d'objets perdus</div>
                        <div class="number">{{ adNumber2 }}</div>
                    </div>
                </div>
                <div class="info-box-2 bg-cyan hover-expand-effect">
                    <div class="icon">
                        <i class="material-icons">shopping_cart</i>
                    </div>
                    <div class="content">
                        <div class="text">Nombre de ventes</div>
                        <div class="number">{{ adNumber3 }}</div>
                    </div>
                </div>
                <div class="info-box-2 bg-teal hover-expand-effect">
                    <div class="icon">
                        <i class="material-icons">search</i>
                    </div>
                    <div class="content">
                        <div class="text">Nombre de recherches</div>
                        <div class="number">{{ adNumber4 }}</div>
                    </div>
                </div>
                <div class="info-box-2 bg-green hover-expand-effect">
                    <div class="icon">
                        <i class="material-icons">build</i>
                    </div>
                    <div class="content">
                        <div class="text">Nombre de tips </div>
                        <div class="number">{{ adNumber5 }}</div>
                    </div>
                </div>
                <div class="info-box-2 bg-light-green hover-expand-effect">
                    <div class="icon">
                        <i class="material-icons">directions_run</i>
                    </div>
                    <div class="content">
                        <div class="text">Nombre de user</div>
                        <div class="number">{{ userNumber }}</div>
                    </div>
                </div>
                <div class="info-box-2 bg-lime hover-expand-effect">
                    <div class="icon">
                        <i class="material-icons">insert_chart</i>
                    </div>
                    <div class="content">
                        <div class="text">Moyenne de commentaire par annonce</div>
                        <div class="number">{{ averageComment }}</div>
                    </div>
                </div>
                <div class="info-box-2 bg-yellow hover-expand-effect">
                    <div class="icon">
                        <i class="material-icons">insert_comment</i>
                    </div>
                    <div class="content">
                        <div class="text">Nombre de commentaires</div>
                        <div class="number">{{ commentNumber }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8 col-lg-8 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h4>
                    Utilisateurs
                </h4>
            </div>
            <div class="body">
                <table class="table table-condensed dataTable">
                    <thread>
                        <tr role="row">
                            <th class="sorting_asc">
                                Utilisateur
                            </th>
                            <th data-orderable="false" class="text-center"><span data-toggle="tooltip"
                                                                                 data-placement="bottom"
                                                                                 title="A les plein pouvoirs">Admin <i
                                            class="fas fa-info-circle" style="color:silver;"></i></span></th>
                            <th data-orderable="false" class="text-center"><span data-toggle="tooltip"
                                                                                 data-placement="bottom"
                                                                                 title="Peut modérer">Modo <i
                                            class="fas fa-info-circle" style="color:silver;"></i></span></th>
                        </tr>
                    </thread>
                    <tbody>
                    {% for User in users %}
                        <tr role="row">
                            <td>{{ User.username }}</td>
                            <td class="text-center">{% if User.roles[0] == "ROLE_ADMIN" and app.user.id != User.id %}<a class="btn btn-danger" href="{{ path("demote_admin",{id:User.id}) }}">Destituer</a>
                                {% else %}{% if app.user.id != User.id %}<a class="btn btn-success" href="{{ path("promote_admin",{id:User.id}) }}">Promotion</a>
                                    {% else %}{% if User.roles[0] == "ROLE_ADMIN" %}<i class="material-icons">check</i>{% endif %}
                                    {% endif %}
                                {% endif %}
                            </td>
                            <td class="text-center">{% if User.roles[0] == "ROLE_MODO" and app.user.id != User.id %}<a class="btn btn-danger" href="{{ path("demote_modo",{id:User.id}) }}">Destituer</a>
                                {% else %}{% if app.user.id != User.id %}<a class="btn btn-success" href="{{ path("promote_modo",{id:User.id}) }}">Promotion</a>
                                    {% else %}{% if User.roles[0] == "ROLE_MODO" %}<i class="material-icons">check</i>{% endif %}
                                {% endif %}
                                {% endif %}</td>
                            <td><a class="btn bg-deep-purple"
                                   href="{{ path('gestionUser',{id:User.id}) }}">Publications</a></td>
                            <td>
                                <button type="button" class="btn bg-indigo" data-toggle="modal"
                                        data-target="#DelModal{{ User.id }}">
                                    Supprimer
                                </button>
                            </td>

                            <!-- DELMODAL -->
                            <div class="modal fade" id="DelModal{{ User.id }}" tabindex="-1" role="dialog"
                                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Voulez-vous vraiment
                                                supprimer
                                                {{ User.username }} ?</h5>
                                            <button type="button" class="close" data-dismiss="modal"
                                                    aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                                Annuler
                                            </button>
                                            <a href="{{ path('del_user',{id:User.id}) }}"
                                               class="btn bg-red">Supprimer</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>



{% endblock %}
